:root {
    --primary-color: #0d1b2a;
    --secondary-color: #1b263b;
    --extra-color: #e0e1dd;
    --a: #415a77;
    --b: #778da9;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
}